body {
    background-color: whitesmoke;
    background-size: cover;
}

#time {
    padding-top: 20px;
    alignment: center;
    color: #36454F;
    font-size: 40px;
    font-family: Helvetica;
    text-align: center;
}

#date {
    padding: 5px;
    text-align: center;
    color: #36454F;
    font-size: 30px;
    font-family: Helvetica;
}

#habitTracker {
    padding: 5px;
    color: #36454F;
    font-size: 45px;
    font-family: Helvetica;
    vert-align: top;
}

#habitSection {
    float: right;
}

#main_habit_section {
    margin-right: fill;
}

#newHabit {
    width: 360px;
    height: 30px;
    font-size: 20px;
}

#habitButton {
    height: 30px;
    font-family: Helvetica;
    font-size: 20px;
}

#tasks {
    font-family: Helvetica;
    font-size: 25px;
}

#TaskHeader {
    font-family: Helvetica;
    font-size: 40px;
}

#addTask {
    font-family: Helvetica;
    font-size: 25px;
}

#clearButton {
    font-family: Helvetica;
    font-size: 30px;
}

#habits {
    font-size: 22px;
    font-family: Helvetica;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    padding-top: 0;
    margin-top: 0;
    text-align: right;
}

#daysOfWeek {
    font-size: 20px;
    font-family: Helvetica;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: right;
}

#notesText {
    font-size: 25px;
    padding-bottom: 0;
    padding-top: 0;
    font-family: Helvetica;
}

.container {
    font-size: 20px;
    font-family: Helvetica;
}

body {
    background-color: whitesmoke;
    background-size: cover;
}

#task-section {
  margin: 10px;
  width: 30%;
}

#task-section ol {
  list-style-type: none;
  padding: 0;
}

.task {
  font-size: larger;
}

.task span {
    margin-left: 10px;
}

.task-input {
  height: 30px;
  border: none;
  margin-left: 10px;
  background-color: whitesmoke;
}

.task-input:focus {
  outline: none;
}

.add-btn {
  background-color: black;
  color: whitesmoke;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  font-size: x-large;
  border: none;
}

.finished {
  color: grey;
  text-decoration: line-through;
}

.header {
  display: flex;
  justify-content: space-between;
}

.clear-btn {
  background-color: whitesmoke;
  border: none;
}

.parent {
}

.child {
    display: inline-block;

}